@page
@model jel14t_mission09.Pages.CheckoutCompleteModel
@{
}

<div class="text-center">
    <h2>Your order has been placed</h2>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Return Home</a>
</div>